$titleFontSize: 13pt;
$subTitleFontSize: 11pt;
$primaryColor: rgb(0, 167, 187);

* {
  box-sizing: border-box;
}

@media print {
  .resume-container {
    page-break-after: always;
  }
}

.data-container {
  display: flex;
  justify-content: space-around;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #273c3f;
  color: #f5f5f6;
  padding: 20px 40px;
}
.img-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  padding-left: 25px;
  align-items: center;
}
.headerText-container {
  flex: 1.5;
  padding-right: 25px;
}
.name-designation-container {
  flex: 2;
  h1 {
    margin-bottom: 0;
    font-size: 22pt;
    margin-top: 0;
    font-weight: normal;
  }
  p {
    margin-top: 0;
  }
}
.designation {
  line-height: 15px;
  color: $primaryColor;
  font-size: 15px;
  margin-bottom: 14px;
}
.summary-wrapper {
  p {
    color: #f1f1f1;
    font-size: 13px;
    margin-bottom: 0;
    line-height: 18px;
  }
}
.language-title {
  font-size: $subTitleFontSize;
}
.icon-info {
  svg {
    width: 10px;
    height: 12px;
    object-fit: contain;
    margin-left: 15px;
  }
  display: flex;
  margin: 0;
  justify-content: flex-end;
  align-items: center;
  font-size: 13px;
}

.left-aside {
  flex: 1.5;
  padding-right: 25px;
}
.right-aside {
  flex: 1;
  padding-left: 25px;
}
.person-img {
  width: 200px;
  height: 160px;
  object-fit: contain;
}
.contact-info {
  display: flex;
  flex: 1;
  flex-direction: column;
  line-height: 2px;
  font-size: 10pt;
}
.heading-container {
  display: inline-block;
  margin-bottom: 14px;

  h2 {
    font-size: 18px;
    margin-bottom: 0;
    color: $primaryColor;
    padding-bottom: 2px;
    border-bottom: 2pt solid $primaryColor;
  }
}

.profileItem-container {
  h3 {
    font-size: $titleFontSize;
    margin-bottom: 2px;
    margin-top: 0;
  }
  h4 {
    font-size: $subTitleFontSize;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 500;
  }
  p {
    margin-bottom: 0;
    margin-top: 0;
    color: $primaryColor;
  }
  .roles {
    padding-left: 13px;
  }
  li::before {
    content: "\2022";
    color: $primaryColor;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }
  p,
  li {
    font-size: 13px;
    margin-bottom: 5px;
    list-style: none;
    line-height: 18px;
  }
}

.profileItem-iconStyle {
  display: flex;
  justify-content: space-between;
  > div {
    margin-right: 25px;
  }
}
.experience-container {
  margin-top: 0;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;

  > li {
    display: flex;
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
.education-container {
  margin: 0;

  li {
    margin-bottom: 15px;
    list-style: none;
  }
}
.education-container,
.skills-container {
  padding-left: 0;
}

.skills-container {
  margin-top: 0;
  list-style: none;

  h4 {
    font-size: 18pt;
    color: $primaryColor;
  }
}

.skill-container {
  h4 {
    margin-bottom: 0;
    margin-top: 0;
    color: black;
    font-size: $subTitleFontSize;
  }

  div {
    padding-left: 0;
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 16px;
    color: #fff;
  }
}

.skill-item {
  font-size: 14px;
  background-color: #00a7bb;
  margin-top: 12px;
  margin-right: 10px;
  line-height: 14px;
  padding: 5px 8px;
  border-radius: 4px;
  text-transform: capitalize;
}

.language-wrapper {
  display: flex;
  justify-content: space-between;
}

.language-level {
  display: flex;
}

.language {
  border-radius: 50%;
  height: 15px;
  width: 15px;
  margin-right: 10px;
}

.languages-wrapper {
  > div {
    margin-bottom: 10px;
  }
}

.project-wrapper {
  margin-bottom: 7px;
}

.portfolio-wrapper {
  h5 {
    margin-top: 0;
    margin-bottom: 4px;
    font-size: $subTitleFontSize;
  }

  p,
  a {
    font-size: 13px;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 17px;
  }

  a {
    color: black;
  }
}

.interest-wrapper {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin-top: 4px;
}

.interest-wrapper li {
  border: 1px solid #00a7bb;
  padding: 4px 8px;
  margin-right: 10px;
  border-radius: 5px;
  font-size: $subTitleFontSize;
}

@media print {
  .data-container {
    margin: 40px;
    margin-top: 10px;
  }
}

.button {
  position: fixed;
  top: 40px;
  left: 50px;
  border: none;
  background: green;
  color: white;
  border-radius: 5px;
  padding: 10px 10px;
}
