* {
  box-sizing: border-box;
}
.app-container {
  margin-left: 12px;
}
// .resume-container {
// }
.data-container {
  display: flex;
  justify-content: space-around;
}

.header-container {
  display: flex;
}
.img-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  padding-left: 25px;
  align-items: center;
}
.headerText-container {
  flex: 1.5;
  padding-right: 25px;
}
.name-designation-container {
  h1 {
    margin-bottom: 0;
    font-size: 22pt;
  }
  p {
    color: blue;
    font-size: 18pt;
    margin-top: 0;
    margin-bottom: 10px;
  }
}

.icon-info {
  display: flex;
  margin: 0;
}
.left-aside {
  flex: 1.5;
  padding-right: 25px;
}
.right-aside {
  flex: 1;
  padding-left: 25px;
}
.person-img {
  width: 200px;
  height: 160px;
  object-fit: contain;
}
.contact-info {
  display: flex;
  justify-content: space-between;
  line-height: 2px;
  font-size: 10pt;
}
.heading-container {
  h2 {
    margin-bottom: 0;
  }
  hr {
    border: 1.5px solid #000;
    margin-top: 0;
    margin-bottom: 0;
  }
}
.innerData-container {
  h3 {
    font-size: 18pt;
    margin-bottom: 0;
    margin-top: 0;
  }
  h4 {
    font-size: 12pt;
    margin-bottom: 0;
    margin-top: 0;
    color: blue;
  }
  p {
    margin-bottom: 0;
    margin-top: 0;
  }
  li {
    list-style-type: disc;
  }
  p,
  li {
    font-size: 10pt;
  }
  ul {
    margin-bottom: 15px;
  }
}
.innerData-iconStyle {
  display: flex;
  > div {
    margin-right: 25px;
  }
}
.experience-container {
  list-style: none;
  padding-left: 0;
  > li {
    display: flex;
    border-bottom: 1px solid burlywood;
    margin-bottom: 10px;
  }

  li:nth-child(3) {
    border: none;
  }
}
.education-container {
  padding-left: 0;
}
@media print {
  body {
    margin: 50px;
  }
}
