* {
  box-sizing: border-box;
}
.app-container {
  margin-left: 12px;
}

@media print {
  .resume-container {
    page-break-after: always;
  }
}

.data-container {
  display: flex;
  justify-content: space-around;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.img-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  padding-left: 25px;
  align-items: center;
}
.headerText-container {
  flex: 1.5;
  padding-right: 25px;
}
.name-designation-container {
  h1 {
    margin-bottom: 0;
    font-size: 22pt;
  }
  p {
    margin-top: 0;
  }
}
.designation {
  line-height: 10px;
  color: rgb(0, 167, 187);
  font-size: 18px;
  margin-bottom: 14px;
}
.summary-wrapper {
  p {
    color: black;
    font-size: 16px;
  }
}

.icon-info {
  display: flex;
  margin: 0;
  justify-content: flex-end;
}
.left-aside {
  flex: 1.5;
  padding-right: 25px;
}
.right-aside {
  flex: 1;
  padding-left: 25px;
}
.person-img {
  width: 200px;
  height: 160px;
  object-fit: contain;
}
.contact-info {
  display: flex;
  flex-direction: column;
  line-height: 2px;
  font-size: 10pt;
}
.heading-container {
  display: inline-block;
  h2 {
    margin-bottom: 0;
    color: rgb(0, 167, 187);
  }
  hr {
    border: 1.2px solid rgb(0, 167, 187);
    margin-top: 0;
    margin-bottom: 0;
  }
}

.innerData-container {
  h3 {
    font-size: 18pt;
    margin-bottom: 0;
    margin-top: 0;
  }
  h4 {
    font-size: 12pt;
    margin-bottom: 0;
    margin-top: 0;
    color: rgb(0, 167, 187);
  }
  p {
    margin-bottom: 0;
    margin-top: 0;
  }
  li {
    list-style-type: disc;
  }
  p,
  li {
    font-size: 10pt;
  }
  ul {
    margin-bottom: 15px;
  }
}
.innerData-iconStyle {
  display: flex;
  > div {
    margin-right: 25px;
  }
}
.experience-container {
  margin-top: 10px;
  list-style: none;
  padding-left: 0;
  > li {
    display: flex;
    margin-bottom: 5px;
  }
}
.education-container,
.skills-container {
  padding-left: 0;
}
.skills-wrapper {
  margin-bottom: 30px;
}
.skills-container {
  margin-top: 0;
  list-style: none;
  h4 {
    font-size: 18pt;
    color: rgb(0, 167, 187);
  }
}
.skill-container {
  h4 {
    margin-bottom: 10px;
    margin-top: 10px;
  }
  div {
    padding-left: 0;

    display: flex;
    flex-flow: row wrap;
    margin-bottom: 10px;

    color: white;
  }
}
.skill-item {
  background-color: rgb(0, 167, 187);
  margin-top: 10px;
  border: 1px solid gray;
  margin-right: 10px;
  line-height: 16px;
  padding: 5px 8px;
  border-radius: 3px;
  text-transform: capitalize;
}
.language-wrapper {
  display: flex;
  justify-content: space-between;
}
.language-level {
  display: flex;
}
.language {
  border-radius: 50%;
  height: 17px;
  width: 17px;
  margin-right: 10px;
}
.languages-wrapper {
  margin-top: 20px;
  > div {
    margin-bottom: 10px;
    padding-bottom: 12px;
  }
}
.portfolio-wrapper {
  h5 {
    margin-top: 13px;
    margin-bottom: 0;
  }
  p {
    margin-top: 0;
  }
}
@media print {
  body {
    margin: 50px;
  }
}
